<section>
    <h1>Get started by uploading your source by clicking the upload button! Or paste it in the textarea below!</h1>
</section>
<section>
   <label for="upload-file">Upload your file here... <input (change)="handleFile($event)" type="file" name="upload-file" id="upload-file" accept=".pdf, .rtf, .txt"></label>
   <textarea name="pasted-text" id="pasted-text" cols="100" rows="10" placeholder="...Or you can paste the raw text here!"></textarea>
   <button type="submit">Submit</button>
</section>